@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
 {
 margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; } 
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; } 
body { line-height:1; } 
ol,ul { list-style:none; } 
blockquote,q { quotes:none; } 
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; } table { border-collapse:collapse; border-spacing:0; } 
@font-face { font-family:"gyeonggi"; font-weight:400; src:url(../fonts/gyeonggi/TTF/gyeonggi_Regular.ttf) format('ttf'),url(../fonts/gyeonggi/WOFF/gyeonggi_Regular.woff) format('woff'); }; 
@font-face { font-family:"gyeonggi"; font-weight:700; src:url(../fonts/gyeonggi/TTF/gyeonggi_Bold.ttf) format('ttf'),url(../fonts/gyeonggi/WOFF/gyeonggi_Bold.woff) format('woff'); };
 @font-face { font-family:"times"; font-weight:400; src:url(../fonts/times/times.ttf) format('ttf'),url(../fonts/times/times.woff) format('woff'); };
 @font-face { font-family:"notosans"; font-weight:400; src:url(../fonts/notosans/NotoSansKR-Regular.ttf) format('ttf'),url(../fonts/notosans/NotoSansKR-Regular.woff) format('woff'); };
  @font-face { font-family:"notosans"; font-weight:500; src:url(../fonts/notosans/NotoSansKR-Medium.ttf) format('ttf'),url(../fonts/notosans/NotoSansKR-Medium.woff) format('woff'); }; 
  @font-face { font-family:"notosans"; font-weight:700; src:url(../fonts/notosans/NotoSansKR-Bold.ttf) format('ttf'),url(../fonts/notosans/NotoSansKR-Bold.woff) format('woff'); };
   body,body * { background-color:#ffffff; } 
   section { width:100%; height:100%; max-width:430px; margin:0 auto; box-shadow:0 0 18px rgb(0 0 0 / 20%); }
   .card {
    width: 100%;
    height: var(--app-height);
    position: relative;
    max-width: 100%;
}